body {

  background: #679B9B;
}

header nav ul li{

  font-family: Arial, Helvetica, sans-serif;
  display: inline;
  padding: 30px;
}

fieldset {

  background: #ffeadb;
  font-family: Arial, Helvetica, sans-serif;
  width: 50%;
  border-radius: 15px;
}

main fieldset h1 {

  color: #FF9A76;
}

main fieldset p {

  color: #637373;
}

main div h3 {

  color: #679B9B;
}

div {

  font-family: Arial, Helvetica, sans-serif;
}

div h3 {

  background-color: #FF9A76;
  border-radius: 15px;
  width: 25%;
  padding: 5px;
}

header {

  background: #ffeadb;
  border-radius: 20px;
  padding: 15px;
}

header ul li +li a {

  color: black;
  font-weight: bold;
  width: 5%;
  border-radius: 5px;
}


input{

  background-color: #ffeadb;
  border: #ffeadb;
  border-radius: 5px;
}

a[href="Servicios.html"] {

  color: black;
}

select{

  background-color:  #637373;
;
  border-radius: 5px;
}

textarea {

  border-radius: 5px;
}